.blogScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blogScreenTop {
  display: flex;
  width: 100%;
  height: 62vh;
}

.blogScreenTop > h1 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--whiteColor);
  margin-bottom: 1rem;
}
.blogScreenTop > p {
  font-size: 1.3rem;
  color: var(--whiteColor);
  margin-bottom: 1rem;
}

.carouselImg {
  width: 100% !important;
  height: 60vh !important;
}
.BlogSliderText {
  margin-bottom: 5rem;
}
.carouselReadBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  border: 1px solid var(--orangeColor);
  border-radius: 0.2rem;
  width: 120px;
  position: absolute;
  bottom: 20%;
  right: 45%;
  margin-top: 2rem;
}

.carouselReadBtn:hover {
  background-color: var(--orangeColor);
}
.carouselReadBtn:hover > button {
  color: var(--whiteColor);
}
.carouselReadBtn > button {
  background-color: transparent;
  color: var(--orangeColor);
  border: none;
}
.blogScreenImg {
  width: 100%;
  object-fit: cover;
}
.blogScreenBottom {
  display: flex;
}
.blogScreenBottomLeft {
  display: flex;
  flex: 0.2;
  display: flex;
  justify-content: center;
}
.blogScreenLeftbar {
  width: 50%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px rgb(228, 215, 215);
  height: 30vh;
  padding: 1em;
}

.blogScreenLeftbar > p {
  font-size: 1rem;
  font-weight: 400;
}
.blogNav {
  /* margin-bottom: 1em; */
  padding: 0.5em 0;
}
.blogNav:hover {
  background-color: var(--lightOrangeColor);
}
.blogScreenBottomRight {
  flex: 0.8;
}
.blogScreenBottomRightTop {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.faBlogRight {
  margin: 0 0.6rem;
  font-size: 0.7rem;
  color: var(--blackColor);
}
.blogScreenBottomRightTop > span {
  font-size: 0.7rem;
  color: var(--blackColor);
}
.blogScreenBottomRightBottom {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .blogScreenTop {
    height: 37vh;
  }
  .carouselImg {
    width: 100% !important;
    height: 35vh !important;
  }
  .blogScreenBottom {
    margin-top: 1em;
    flex-direction: column;
  }
  .blogScreenBottomRight {
    margin-left: 1em;
  }
  .blogScreenBottomLeft {
    justify-content: flex-start;
  }
  .blogScreenBottomRightBottom {
    display: flex;
    flex-direction: column;
  }
}
