.cardPayment {
  display: flex;
  width: 350px;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 2px solid var(--lightGreyColor);
  height: 9em;
  margin-bottom: 2em;
}
.cardPaymentLeft {
  display: flex;
  width: 20%;
  padding-top: 1em;
}
.cardIcon {
  width: 100%;
  object-fit: cover;
}
.cardPaymenMiddle {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1em;
  /* background-color: red; */
}
.cardPaymenMiddle > h1 {
  font-size: 1.2em;
  color: var(--blackColor);
}
.cardPaymenMiddle > h2 {
  font-size: 0.8em;
  color: var(--blackColor);
}
.cardPaymenMiddle > h3 {
  font-size: 1em;
  color: var(--blueColor);
}
.cardPaymentRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 30%;
  padding: 0 1em 1em 0;
}
.cardPaymentRightCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}
.card-check-box-container {
  width: 25px;
  height: 25px;
  border: 3px solid var(--orangeColor);
  border-radius: 50%;
  /* background-color: var(--orangeColor); */
}
.cardPaymentRight > span {
  cursor: pointer;
  color: var(--greyColor);
}
.cardFaTrash {
  margin-right: 0.5em;
  cursor: pointer;
}

@media screen and (max-width: 430px) {
  .cardPayment {
    width: 220%;
  }
}
@media screen and (max-width: 400px) {
  .cardPayment {
    width: 100%;
  }
}
