.mobileNav {
  display: none;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  /* position: relative; */
}
.mobileNavTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hamburgerContainer {
  display: flex;
  cursor: pointer;
  padding: 1em;
}
@media screen and (max-width: 768px) {
  .mobileNav {
    display: flex;
  }
}
