

.alice-carousel__prev-btn, .alice-carousel__prev-btn-item{
    color: var(--orangeColor) !important;
    font-size: 2rem;
    position: absolute;
    left: 0;
    top: 30%;
}
.alice-carousel__next-btn,
.alice-carousel__next-btn-item {
    color: var(--orangeColor) !important;
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: 30%;
}