.productSaleCard {
  display: flex;
  flex-direction: column;
  width: 370px;
  border: 2px solid var(--pinkColor);
  border-radius: 0.5em;
  padding: 1em 0;
}
.productSaleCardTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}
.productSaleCardMiddle {
  display: flex;
  align-items: center;
  margin-top: 1em;
  padding: 0 1em;
}
.productSaleCardMiddleLeft {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.productSaleCardMiddleRight {
  display: flex;
  width: 30%;
  align-items: flex-end;
  justify-content: flex-end;
}
.productSaleCardMiddleLeft > span:first-child {
  color: var(--pinkColor);
}
.productSaleCardMiddleLeft > span:last-child {
  font-size: 0.8em;
}
.productSalesDivider {
  background-color: var(--pinkColor);
  border-top: 2px solid var(--pinkColor);
}
.productSaleCardBottomDown {
  padding: 0 1em;

  display: flex;
  flex-direction: row;
}
.productCardSizeContainerA {
  display: flex;
  align-items: center;
  width: 2em;
  height: 1.8em;
  justify-content: center;
  border-radius: 0.3em;
  margin-right: 1em;
}
.proCardA {
  cursor: pointer;
}
.productCardSizeContainer {
  display: flex;
  align-items: center;
  width: 2em;
  height: 1.8em;
  justify-content: center;
  background-color: var(--skyPinkColor);
  border-radius: 0.3em;
}
/* ==========product sales card  XXXXXXXXXXX========= */

/* ==============product income card================ */
.productIncomeCard {
  display: flex;
  flex-direction: column;
  width: 370px;
  border: 2px solid var(--greenColor);
  border-radius: 0.5em;
  padding: 1em 0;
  /* background-color: var(--skyPinkColor); */
}
.productIncomeCardTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}
.productIncomeCardMiddle {
  display: flex;
  align-items: center;
  margin-top: 1em;
  padding: 0 1em;
}
.productIncomeCardMiddleLeft {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.productIncomeCardMiddleRight {
  display: flex;
  width: 30%;
  align-items: flex-end;
  justify-content: flex-end;
}
.productIncomeCardMiddleLeft > span:first-child {
  color: var(--greenColor);
}
.productIncomeCardMiddleLeft > span:last-child {
  font-size: 0.8em;
}
.productIcomeDivider {
  background-color: var(--greenColor);
  border-top: 2px solid var(--greenColor);
}
.productIncomeCardBottomDown {
  padding: 0 1em;

  display: flex;
  flex-direction: row;
}
.productCardSizeContainerA {
  display: flex;
  align-items: center;
  width: 2em;
  height: 1.8em;
  justify-content: center;
  border-radius: 0.3em;
  margin-right: 1em;
}
.proCardA {
  cursor: pointer;
}
.productCardSizeContainer {
  display: flex;
  align-items: center;
  width: 2em;
  height: 1.8em;
  justify-content: center;
  background-color: var(--skyPinkColor);
  border-radius: 0.3em;
}
/* ==========product income card  XXXXXXXXXXX========= */

/* ====================product saves============== */
.productSavesCard {
  display: flex;
  flex-direction: column;
  width: 370px;
  border: 2px solid var(--blueColor);
  border-radius: 0.5em;
  padding: 1em 0;
}
.productSavesCardTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
}
.productSavesCardMiddle {
  display: flex;
  align-items: center;
  margin-top: 1em;
  padding: 0 1em;
}
.productSavesCardMiddleLeft {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.productSavesCardMiddleRight {
  display: flex;
  width: 30%;
  align-items: flex-end;
  justify-content: flex-end;
}
.productSavesCardMiddleLeft > span:first-child {
  color: var(--blueColor);
}
.productSavesCardMiddleLeft > span:last-child {
  font-size: 0.8em;
}
.productSavessDivider {
  background-color: var(--blueColor);
  border-top: 2px solid var(--blueColor);
}
.productSavesCardBottomDown {
  padding: 0 1em;

  display: flex;
  flex-direction: row;
}
.productCardSizeContainerA {
  display: flex;
  align-items: center;
  width: 2em;
  height: 1.8em;
  justify-content: center;
  border-radius: 0.3em;
  margin-right: 1em;
}
.proCardA {
  cursor: pointer;
}
.productCardSizeContainer {
  display: flex;
  align-items: center;
  width: 2em;
  height: 1.8em;
  justify-content: center;
  background-color: var(--skyblueColor);
  border-radius: 0.3em;
}
@media screen and (max-width: 768px) {
  .productIncomeCard {
    margin: 2em 0;
  }
}
/* ==========product saves card  XXXXXXXXXXX========= */
