.payWithCard {
  width: 100%;
  display: flex;
  margin-top: 2em;
}
.payWithCardLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 1em;
}
.payWithCardRight {
  display: flex;
  flex-direction: column;
  width: 50%;
}

/* ===============payWithPayPal======== */
.payWithPayPal {
  display: flex;
  margin-top: 2em;
}
.payWithPayPalLeft {
  display: flex;
  width: 50%;
}
.payWithPayPalRight {
  display: flex;
  width: 50%;
}

@media screen and (max-width: 800px) {
  .payWithCard {
    flex-direction: column;
  }
  .payWithCardLeft {
    padding: 0;
  }
}
