.overViewProductStock {
  height: 4em;
  display: grid;
  grid-template-columns: auto 20% 20% auto auto auto;
  padding-left: 2em;
  width: 100%;
  align-items: center;
  margin: 0.5em 0;
}
.stockImgContainer {
  width: 60px;
}
.stockImg {
  width: 100%;
  object-fit: cover;
  border-radius: 0.2em;
}
.overViewProductStock > span {
  font-size: 1em;
}
.overViewProductStock:hover {
  background-color: var(--lightOrangeColor);
}
.stockContainer {
  display: flex;
  align-items: center;
  background-color: var(--adminBlueColor);
  /* background-color: #0192671f; */
  width: 6em;
  height: 2em;
  /* padding: 0.2em 0; */
  border-radius: 1em;
  justify-content: center;
}
.stockContainer > span {
  font-weight: 600;
  color: var(--greenColor);
}
