.overViewProductStock {
  height: 4em;
  display: grid;
  grid-template-columns: 20% auto auto auto auto auto;
  padding-left: 2em;
  width: 100%;
  align-items: center;
}
.overViewProductStock > p {
  font-size: 1em;
}
.overViewProductStock:hover {
  background-color: var(--lightOrangeColor);
}
.stockContainer {
  display: flex;
  align-items: center;
  background-color: #0192671f;
  width: 6em;
  height: 2em;
  /* padding: 0.2em 0; */
  border-radius: 1em;
  justify-content: center;
}
.stockContainer > span {
  font-weight: 600;
  color: var(--greenColor);
}
