/* ===total sales */
.totalSalesCard {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--pinkColor);
  border-radius: 0.5em;
  width: 320px;
  padding: 1em;
  margin-right: 1em;
  height: 230px;
  margin-bottom: 2em;
}
.totalSalesCardTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.totalSalesCardTop > h1 {
  font-size: 1em;
}
.dropdownContainer {
  border: 1px solid white;
  outline: 0px;
}
.totalSalesCardMiddle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.totalSalesCardMiddle > h1 {
  font-size: 2rem;
  color: var(--pinkColor);
}
.totalSalesCardBottom {
  display: flex;
}
.totalSalesCardBottom > p {
  font-size: 0.9em;
  color: var(--blackColor);
}
/* =========total sales ====XXX========= */

/* ===total orders======= */
.totalOrdersCard {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--darkBlueColor);
  border-radius: 0.5em;
  width: 320px;
  padding: 1em;
  margin-right: 1em;
  height: 230px;
}
.totalOrdersCardTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.totalOrdersCardTop > h1 {
  font-size: 1em;
}
.dropdownContainer {
  border: 1px solid white;
  outline: 0px;
}
.totalOrdersCardMiddle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.totalOrdersCardMiddle > h1 {
  font-size: 2rem;
  color: var(--darkBlueColor);
}
.totalOrdersCardBottom {
  display: flex;
}
.totalOrdersCardBottom > p {
  font-size: 0.9em;
  color: var(--blackColor);
}
/* ===total order=======xx===== */

/* ===total incom======= */
.TotalIncomeCard {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--greenColor);
  border-radius: 0.5em;
  width: 320px;
  padding: 1em;
  margin-right: 1em;
  height: 230px;
}
.TotalIncomeCardTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.TotalIncomeCardTop > h1 {
  font-size: 1em;
}
.dropdownContainer {
  border: 1px solid white;
  outline: 0px;
}
.TotalIncomeCardMiddle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.TotalIncomeCardMiddle > h1 {
  font-size: 2rem;
  color: var(--greenColor);
}
.TotalIncomeCardBottom {
  display: flex;
}
.TotalIncomeCardBottom > p {
  font-size: 0.9em;
  color: var(--blackColor);
}
/* ===total icome=======xx===== */

/* ===total product======= */
.totalProductsCard {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--skyPurpleColor);
  border-radius: 0.5em;
  width: 320px;
  height: 160px;
  padding: 1em;
  margin-right: 1em;
  /* margin-bottom: 2em; */
}
.totalProductsCardTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.totalProductsCardTop > h1 {
  font-size: 1em;
}
.dropdownContainer {
  border: 1px solid white;
  outline: 0px;
}
.totalProductsCardMiddle {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 1em; */
}
.totalProductsCardMiddle > h1 {
  font-size: 2rem;
  color: var(--skyPurpleColor);
}
.totalProductsCardBottom {
  display: flex;
}

/* ===total Products=======xx===== */

/* ===All product======= */
.allProductsCard {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--skyBlueColor);
  border-radius: 0.5em;
  width: 320px;
  height: 230px;
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}
.allProductsCardTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.allProductsCardTop > h1 {
  font-size: 1em;
}
.dropdownContainer {
  border: 1px solid white;
  outline: 0px;
}
.allProductsCardMiddle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.allProductsCardMiddle > h1 {
  font-size: 2rem;
  color: var(--skyBlueColor);
}
.allProductsCardBottom {
  display: flex;
}
/* ===All product====xxxx=== */

/* =====Shop Likes=========== */

.shopLikes {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--orangeColor);
  border-radius: 0.5em;
  width: 320px;
  height: 230px;
  padding: 1em;
  margin-right: 1em;
}
.shopLikesTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.shopLikesTop > h1 {
  font-size: 1em;
}
.dropdownContainer {
  border: 1px solid white;
  outline: 0px;
}
.shopLikesMiddle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.shopLikesMiddle > h1 {
  font-size: 2rem;
  color: var(--orangeColor);
}
.shopLikesBottom {
  display: flex;
}

/* ======shop likes======xx===== */

/* =====Shop View=========== */

.shopView {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--purpleColor);
  border-radius: 0.5em;
  width: 320px;
  height: 230px;
  padding: 1em;
  margin-right: 1em;
}
.shopViewTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.shopViewTop > h1 {
  font-size: 1em;
}
.dropdownContainer {
  border: 1px solid white;
  outline: 0px;
}
.shopViewMiddle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.shopViewMiddle > h1 {
  font-size: 2rem;
  color: var(--purpleColor);
}
.shopViewBottom {
  display: flex;
}

/* ======shop View======xx===== */

/* ==============orders status=============== */
.orderStatus {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--lightGreyColor);
  border-radius: 0.5em;
  width: 320px;
  padding: 1em;
}
.orderStatusTop {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0;

  width: 100%;
}
.orderStatusTop > h1 {
  font-size: 1.5em;
}
.orderStatusBottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.orderStatusImgContainer {
  width: 10em;
  margin-bottom: 2em;
}
.orderstatusImg {
  width: 100%;
}
.statusDetailContainer {
  margin-left: 2em;
}
.statusDetails {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.statusBox {
  width: 2em;
  height: 2em;
  border-radius: 0.2em;
  background-color: var(--greenColor);
}
.statusDetails > h3 {
  color: var(--greyColor);
  font-size: 1em;
  font-weight: 600;
  margin-left: 0.5em;
}
.statusDetails > h4 {
  color: var(--greenColor);
  font-size: 1em;
  font-weight: 600;
  margin-left: 0.5em;
}
@media screen and (max-width: 768px) {
  .totalSalesCard,
  .allProductsCard,
  .orderStatus,
  .shopLikes,
  .shopView,
  .totalOrdersCard,
  .totalProductsCard,
  .TotalIncomeCard {
    margin-bottom: 2em;
    width: 20em !important;
  }
}
@media screen and (max-width: 1200px) {
  .allProductsCard,
  .TotalIncomeCard {
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 1560px) {
  .totalSalesCard,
  .totalOrdersCard,
  .TotalIncomeCard,
  .totalProductsCard,
  .allProductsCard,
  .shopLikes,
  .shopView,
  .orderStatus {
    width: 22em;
  }
}
@media screen and (max-width: 1450px) {
  .TotalIncomeCard {
    margin-bottom: 1em;
  }
}
