.resetPassword {
  display: flex;
  width: 100%;
  height: 60vh;
  align-items: center;
  justify-content: center;
}
.resetPasswordFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resetPasswordInputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.resetPasswordFormContainer > h1 {
  font-size: 1.5rem;
}
.resetPasswordFormContainer > p {
  font-size: 1rem;
}
.resetPasswordInputContainer > span {
  font-size: 0.7rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.resetPasswordBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orangeColor);
  width: 100%;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.3rem 0;
  margin-top: 1rem;
}
.resetPasswordBtnContainer > button {
  outline: none;
  border: none;
  color: var(--whiteColor);
  background-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 600;
}
